
<!DOCTYPE html>
<html  lang="en">
<head >
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  href="css/signup.css" rel="stylesheet" >
  </head>
<body >
     <span class="borderline"></span>
    <div class="box">
        
        <form  action="/signup" method="POST">
          
            <h2>Sign up </h2>    
    <div class="inputbox">
        <span>username</span>
        <input type="text" id="username" name="username" placeholder="Enter Firstname" required="required">
         <i></i>
    </div>    
    <div class="inputbox">
        <span>Firstname</span>
        <input type="text" id="fname" name="fname" placeholder="Enter Firstname" required="required">
        <i></i>
    </div>
    <div class="inputbox">
        <span>Lastname</span>
        <input type="text" id="lname" name="lname" placeholder="Enter lastname" required="required">
        <i></i>
    </div>
    <div class="inputbox">
        <span>Email</span>
        <input type="email" id="email" name="email" placeholder="Enter Email" required="required">
        <i></i>
    </div>
    <div class="inputbox">
        <span>password</span>
        <input type="password" id="pwd1" name="pwd1" placeholder="Enter password" required="required">
        <i></i>
        </div>
        <div class="inputbox">
        <span>password</span>
        <input type="password" id="pwd2" name="pwd2" placeholder="confirm password" required="required">
        <i></i>

    </div>
    <div class="inputbox">
        <span>
            
        <input list="countries" name="countries" placeholder="country" required="requred" name="country">
        <datalist id="countries">
              <option value="Kenya">
              <option value="Tanzania">
              <option value="Uganda">
              <option value="Ghana">
              <option value="South Africa">

        </span>
        
         <i></i>
    </div>
    <div class="links">
        <button>Forgot Password</button>
        <button>Sign up</button>
        <i></i>
    
    </div>
    
        

    </form>
    </div>
    </body>
    </html>
   